extends layout
block content
  div.video-backdrop
      div.video-popup-container
        div.player
        a.video-popup-close
  div.section.sec-01
      div.inner.ch-01
        div.bracelet
        div.logo
        div.slogon


